body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #c0dbeb;
    background: linear-gradient(#012340, #0E1826);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 200px;
}
#Heading1{
    margin-top: 70px;
    color: #c0dbeb; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
}
#RichBrownLink{
    display: block;
    text-align: center;
    color: #c0dbeb;
    font-weight: bold;
}

#RichBrown2MinVideo{
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    text-align: center;
    color: #c0dbeb;
    font-weight: bold;
}

#Question1{
    margin-top: 100px;
    font-size: large;
    font-weight: bolder;
}
#Question2{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}
#Question3{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}
#Question4{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}
#Question5{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}
#Question6{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}
#Question7{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}
#Question8{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}
#Question9{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}#Question10{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}#Question11{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}
#Question12{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}#Question13{
    margin-top: 120px;
    font-size: large;
    font-weight: bolder;
}